.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #a8c5cd,
    #aecdd6,
    #b5d6df,
    #bbdee9,
    #c2e7f2,
    #cbebf7,
    #d4f0fb,
    #ddf4ff,
    #e8f6ff,
    #f2f8ff,
    #fafbff,
    #ffffff
  );
  padding-bottom: 128px;
}

.quoteContainer {
  padding: 100px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

@media only screen and (max-width: 912px) {
  .quoteContainer {
    padding: 64px 36px;
  }
}
