@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Optima", sans-serif;
}

p {
  font-family: Montserrat, sans-serif;
}

button {
  cursor: pointer;
}

/* Make the app use full viewport height and push footer down */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1; /* this makes main content grow to push footer down */
}
